* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 300px;
    display: block;
}

div {
    background-color: rgb(0, 162, 255);
    height: 100px;
    width: 100px;
    margin: 16px 0;
}