* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #7eb6efb0;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: auto;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    padding: 8px 20px;
}

form button {
    background-color: #000000;
    color:rgb(0, 255, 255); 
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding :10px 20px;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    padding: 14px;
    font-size: 24px;
    font-weight: bold;
}
table td{
    padding: 16px 0;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table td img{
    width: 30px;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: rgb(0, 255, 255);
    background-color: #000;
    border-radius: 3px;
}

.aprovado{
    background-color:#000;
}

.reprovado{
    background-color: #ff0000;
}