* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarala', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: beige;
}

header {
    padding: 16px 50px;
    background-color: #000000;
    color: #ecf0f1;
    margin-bottom: 50px;
}

header h1 {
    font-size: 35px;
}

header h2 {
    align-items: end;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 800;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 44px;
}

.brands-list li {
    display: inline;
    margin-right: 10px;
}

section .container {
    align-items: flex-start;
    margin-bottom: 50px;
}

section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 24px 0;
}

section h2 {
    font-size: 35px;
    margin-bottom: 16px;
    align-items: center;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 16px;
    height: min-content;
    margin-bottom: 50px;
}

.services {
    width: 500px;
    height: 400px;
    margin: 0 20px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
    justify-content: left;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}


#services .container {
    display: inline-flex;
    align-items: flex-start;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2548a9;
    color: #fff;
}

input:focus,
textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 16px 0;
}

footer p {
    margin-left: 40px;

}