* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    width: 100%;
    background-color:rgb(5, 100, 116);
    padding: 15px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

header li {
    display: inline;
}

header li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

a:hover{
    text-decoration:underline ;
}

h1 {
    color: #fff;
}

.container {
    width: 1118px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 15px 0;
}

section h2,
.articles article {
    margin-bottom: 15px;
}

.articles article h3{
    margin: 10px 0 ;
    font-size: 20px;
}

section h2{
    font-size: 31px;
}
.articles article a {
    display: inline-block ;
    background-color: rgb(5, 81, 55);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
   

.articles article p {
    font-family:Arial, Helvetica, sans-serif;
}

#sports {
    background-color: rgba(127, 255, 212, 0.407);
}

#economy {
    background-color: rgba(195, 234, 234, 0.911);
}

#tech {
    background-color: rgba(127, 255, 212, 0.327);
}